# SPDX-License-Identifier: MIT
/Library/
/Temp/
/Logs/
/UserSettings/
/obj/
/scripts/.cache/
/scripts/__pycache__/
/measurement-output/
*.csproj
*.sln
*.pidb
*.unityproj
/Assets/Production/
/Assets/Complex/
